<html lang="en" dir="ltr"></html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    {% include '_styles.html' %}
</head>
<body>
    <div class="container">
        <!-- Navbar - Start -->
        {% include '_navigation.html' %}
        <!-- Navbar - End -->
        <main>
            {% block content %}{% endblock content %}
        </main>
        {% include '_javascript.html' %}
    </div>
</body>
</html>